[mysqld]

#密碼重置
#skip-grant-tables

# 禁用DNS解析
skip-name-resolve

log-bin=mysql-bin
server-id=1

datadir=/mnt/data/mysql
socket=/var/lib/mysql/mysql.sock

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

# binlog保留1天
binlog_expire_logs_seconds=86400
# 表名不區分大小寫
lower_case_table_names=1
# 日誌時區與系統一致
log_timestamps=SYSTEM
# ibdata1獨立使用
innodb_file_per_table=1
# 使用utf8編碼
character-set-server=utf8mb4
# 使用utf8編碼
collation-server=utf8mb4_general_ci
# 開啟慢查詢開關
slow_query_log=1
# 設置慢查詢日誌位置
slow_query_log_file=/var/log/mysqld-slow.log
# 設置慢查詢監控指標(秒)
long_query_time=3

# [client]
# default-character-set=utf8mb4

######
lower_case_table_names = 0
